/* Update navbar with a darker gradient background and text styles */
.navbar {
  background: linear-gradient(135deg, #292929, #191919); /* Use your desired dark gradient colors */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold; /* Make the font bold */
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #fff; /* Maintain the same color on hover to keep it minimal */
  opacity: 0.8; /* Reduce opacity slightly on hover for a subtle effect */
}

/* Add some spacing between links on smaller screens */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .navbar a {
    margin-bottom: 10px;
  }
}
