/* Register.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.register-container {
  background-image: url("../img/group-multiethnic-diverse-hands-raised.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 100%;
  padding: 20px;
}

.reg-h2 {
  text-align: center;
  padding: 15px;
  color: #000; /* Black text color for heading */
}

.reg-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 5px;
  color: #000; /* Black text color for labels */
}

.reg-input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 500px;
  box-sizing: border-box;
  color: #000; /* Black text color for input fields */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.reg-Card {
  height: 550px;
  width: 800px;
  padding-top: 50px;
  margin: 0 auto;
  border-radius: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border: 1px solid #ccc;
}

.reg-Card:hover {
  transform: scale(1.05);
}

.error {
  color: #cc0000; /* Dark red text color for error messages */
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .reg-input {
    width: 100%;
  }

  .reg-Card {
    max-width: 100%;
  }
}
